<!--index.html-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../style.css">
    <title>Hello World!</title>
</head>

<body>
    <div id="content">
        <div id="timer">

        </div>
        <form>
            <label for="fname">Question 2:</label><br>
            <p>
                1 + 1 = ?
            </p>
            <div id="question">
                <div>
                    <input type="radio" id="answer-1" name="answer" value="1">
                    <label for="answer-1">1</label>
                </div>
                <div>
                    <input type="radio" id="answer-2" name="answer" value="2">
                    <label for="answer-2">2</label>
                </div>
                <div>
                    <input type="radio" id="answer-3" name="answer" value="3">
                    <label for="answer-3">11</label>
                </div>
                <div>
                    <input type="radio" id="answer-4" name="answer" value="4">
                    <label for="answer-4">0</label>
                </div>
            </div>
        </form>
        <br>
        <div>
            <button><a href="../page1/index.html">Previous</a></button>
            <button class="next-btn"><a href="#">Next</a></button>
        </div>
    </div>
    <script src="./index.js"></script>
    <script src="../common.js"></script>
</body>

</html>
